/* FOOTER */

.footer{
    color: beige;
    margin: 5px 5px;
    text-decoration: none;
    list-style: none;
    text-align: center;
}


.form__items{
    border-radius: 100%;
    background-color: whitesmoke;
}