/* MAIN */  

.section-2{
    margin-top: 1rem;
    display: flex;
    justify-content: center
}

.email-web{
    list-style-type: none;
    color: antiquewhite;
}

.description{
    text-align: center;
    margin: 1.5rem 0rem;
}

.img__1{
    width: 100%;
}

/* CONTACTO */

.form-inside{
    margin: 5px;
}

.form-control{
    margin: 5px;
    padding: 10px;
}

/* MEDIA INDEX */

.main__1{
    text-transform: uppercase;
    color: antiquewhite;
}
